In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
data[1]

0.5

In [4]:
data = pd.Series([0.25, 0.5, 0.75, 0.1], index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    0.10
dtype: float64

In [5]:
population_dict = {'California': 38332521,'Texas': 26448193, 'New York': 19651127, 'Florida': 19552860, 'Illinois': 12882135}
population_dict = pd.Series(population_dict)
population_dict

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [6]:
states = pd.DataFrame({'population':population_dict})
states

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

# Data Selection in Series

# Series as dictionary

In [7]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

# Series as one-dimensional array

In [8]:
data[0:2]

a    0.25
b    0.50
dtype: float64

In [9]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

# Implicit and Explicit indexing

In [10]:
data = pd.Series(['a','b','c'], index=[1,3,5])
data

1    a
3    b
5    c
dtype: object

In [11]:
#explicit index when indexing
data[1]

'a'

In [12]:
#implicit index when indexing
data[1:3]

3    b
5    c
dtype: object

In [13]:
#loc
data.loc[1]

'a'

In [14]:
data.loc[3:5]

3    b
5    c
dtype: object

In [15]:
#iloc
data.iloc[1]

'b'

In [16]:
data.iloc[1:3]

3    b
5    c
dtype: object